<div class="container">
  <div class="columns is-multiline is-mobile">
    <div class="column is-one-third-desktop is-6-tablet is-12-mobile animate__animated animate__fadeIn" *ngFor="let gif of resultados">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src="{{gif.images.downsized_medium.url}}">
          </figure>
          <div class="card-content is-overlay is-clipped">
            <span class="tag is-dark">
              {{gif.title}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
