<div class="columns">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->

  <div class="column pr-5 pt-4 has-text-centered">
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input" type="text" placeholder="Buscar Gifs...">
      </div>
      <div class="control">
        <button class="button is-black">
          Buscar
        </button>
      </div>
    </div>
    <hr>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse numquam beatae, rerum consectetur officiis quisquam. Ullam, nostrum. Rerum optio ab porro voluptates, rem dignissimos fuga. Ut aspernatur eius accusamus dolorum.

  </div>

</div>
